<h1>Today's Puppies</h1>

<% @websites.each do |website| %>
  <h3><%= website.name %></h3>
  <% puppies = website.puppies.today %>
  <% if puppies.count > 0 %>
    <ul>
      <% puppies.each do |puppy| %>
        <li>
          <div><img src="<%= puppy.image_url %>" alt="<%= puppy.name %>" /></div>
          <div><%= puppy.name %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    No new puppies today 😒
  <% end %>
<% end %>

<div>
  <%= link_to 'View all puppies', puppies_url %>
</div>
