<h1>Today's Puppies</h1>

<% @websites.each do |website| %>
  <h3><%= link_to website.name, website.url %></h3>
  <% puppies = website.puppies.today %>
  <% if puppies.count > 0 %>
    <table cellspacing="0" cellpadding="10" border="0">
      <% puppies.each do |puppy| %>
        <tr>
          <td width="80">
            <h2><%= link_to puppy.name, puppy.url %></h2>
          </td>
          <td width="280">
            <img src="<%= puppy.image_url %>" alt="<%= puppy.name %>" />
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No new puppies today 😒
  <% end %>
<% end %>

<div>
  <%= link_to 'View all puppies', puppies_url(host: ENV['app_host']) %>
</div>
